---
import Layout from "../layouts/Layout.astro";
import SectionExperience from "../components/home/SectionExperience.astro";
import SectionWelcome from "../components/home/SectionWelcome.astro";
import SectionProyects from "../components/home/SectionProyects.astro";
---

<Layout
  title="Porfolio de Diego Páez"
  description="Contrata a Diego Páez para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
  <main>
    <SectionWelcome />
    <SectionExperience />
    <SectionProyects />
  </main>
</Layout>
