---
import Section from "../section/Section.astro";
---

<Section id="proyectos">
  <h2
    class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
  >
    <!-- <CodeIcon class="size-7" /> -->
    Proyectos
  </h2>
  <!-- <Projects /> -->
</Section>
